<!-- #start branch component-template -->
<!-- <h1>Welcome to HungPrince! {{title}}</h1> -->
<!-- #start displaying data and template syntax -->
<!-- <app-hero></app-hero> -->
<!-- #end displaying data and template syntax -->

<!--start lifecycle -->
<!-- <app-lifecycle [name]="hero"></app-lifecycle>
<form action="">
    <input type="text" name="hero" [(ngModel)]="hero">
</form> -->
<!-- end lifecycle -->

<!-- start interaction -->
<!-- <app-interaction></app-interaction> -->
<!-- end interaction -->

<!--#start dynamic-component -->
<!-- <app-dynamic-component [ads]="ads"></app-dynamic-component> -->
<!-- #end dynamic component -->

<!-- #start attribute directive -->
<!-- <app-attribute-directive></app-attribute-directive> -->
<!-- #end attribute directive -->

<!-- #start structure directive -->
<!-- <app-structure-directive></app-structure-directive> -->
<!-- #end structure directive -->

<!-- #start pipe -->
<!-- <app-pipe></app-pipe> -->
<!-- #end pipe -->

<!-- #start animations -->
<!-- <app-animations></app-animations> -->
<!-- #end animations -->

<!-- #end branch template-component -->

<!-- #start branch form -->
<!-- <app-forms></app-forms> -->
<!-- #end branch form -->

<!-- #start observables -->
<!-- <app-observables></app-observables> -->
<!-- #end observables -->

<!-- #start ng module -->
<!-- <app-customer-dashboard></app-customer-dashboard> -->
<!-- <button routerLink="/customers">Customers</button>
    <button routerLink="/orders">Orders</button>
    <button routerLink="/">Home</button>

    <router-outlet></router-outlet> -->
<!-- #end ng module -->

<!-- #start http-client -->
<!-- <h1>HTTP Sample</h1>
<div>
    <input type="checkbox" id="heroes" [checked]="toggleHeroes" (click)="toggleHeroes()">
    <label for="heroes">Heroes</label>

    <input type="checkbox" id="config" [checked]="showConfig" (click)="toggleConfig()">
    <label for="config">Config</label>

    <input type="checkbox" id="downloader" [checked]="showDownloader" (click)="toggleDownloader()">
    <label for="downloader">Downloader</label>

    <input type="checkbox" id="uploader" [checked]="showUploader" (click)="toggleUploader()">
    <label for="uploader">Uploader</label>

    <input type="checkbox" id="search" [checked]="showSearch" (click)="toggleSearch()">
    <label for="search">Search</label>
</div>

<app-heroes *ngIf="showHeroes"></app-heroes>
<app-messages></app-messages>
<app-config *ngIf="showConfig"></app-config>
<app-downloader *ngIf="showDownloader"></app-downloader>
<app-uploader *ngIf="showUploader"></app-uploader>
<app-package-search *ngIf="showSearch"></app-package-search> -->
<!-- #end http-client -->

<!-- #start angular-routes -->
<h1>Angular Routes</h1>
<nav>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
</nav>
<router-outlet></router-outlet>
<!-- #end angular routes -->