<!-- #start branch component-template -->
<!-- <h1>Welcome to HungPrince! {{title}}</h1> -->
<!-- #start displaying data and template syntax -->
<!-- <app-hero></app-hero> -->
<!-- #end displaying data and template syntax -->

<!--start lifecycle -->
<!-- <app-lifecycle [name]="hero"></app-lifecycle>
<form action="">
    <input type="text" name="hero" [(ngModel)]="hero">
</form> -->
<!-- end lifecycle -->

<!-- start interaction -->
<!-- <app-interaction></app-interaction> -->
<!-- end interaction -->

<!--#start dynamic-component -->
<!-- <app-dynamic-component [ads]="ads"></app-dynamic-component> -->
<!-- #end dynamic component -->

<!-- #start attribute directive -->
<!-- <app-attribute-directive></app-attribute-directive> -->
<!-- #end attribute directive -->

<!-- #start structure directive -->
<!-- <app-structure-directive></app-structure-directive> -->
<!-- #end structure directive -->

<!-- #start pipe -->
<!-- <app-pipe></app-pipe> -->
<!-- #end pipe -->

<!-- #start animations -->
<!-- <app-animations></app-animations> -->
<!-- #end animations -->

<!-- #end branch template-component -->

<!-- #start branch form -->
    <app-forms></app-forms>
<!-- #end branch form -->