<!-- <app-hero></app-hero> -->
<!--start lifecycle -->
<!-- <app-lifecycle [name]="hero"></app-lifecycle>
<form action="">
    <input type="text" name="hero" [(ngModel)]="hero">
</form> -->
<!-- end lifecycle -->
<!-- start interaction -->
<!-- <app-interaction></app-interaction> -->
<!-- end interaction -->
<!--#start dynamic-component -->
<!-- <app-dynamic-component [ads]="ads"></app-dynamic-component> -->
<!-- #end dynamic component -->
<!-- #start attribute directive -->
<app-attribute-directive></app-attribute-directive>
<!-- #end attribute directive -->